{% extends "jqm/simple.html" %}


{% block pagetitle %}
Add
{% endblock %}

{% block content %}
  <div class="ui-content" role="main">
	<div class="ui-field-contain">
  		<label for="refresh-1">Your location: {{ point }}</label>   
  		<a data-role="button" data-inline="true" data-icon="refresh" data-mini="true" href="{% url 'add_nearby' %}" >Refresh</a>
	</div>
	<div class="ui-field-contain">
  	<label for="select-choice-1" class="select">Select:</label>
  		<select name="select-choice-1" id="select-choice-1">
	  		{% for item in nearby %}
    		<option value="{{item.name}}" data-vicinity="{{item.vicinity}}" data-coord="POINT({{item.geometry.location.lng}} {{item.geometry.location.lat}})">{{item.name}}: {{item.vicinity}}</option>
    		{% endfor %}
  		</select>
	</div>
  </div>
  <form action="{% url 'add_nearby' %}" method="post">{% csrf_token %}
	<input id="id_name" maxlength="128" name="name" type="hidden"  />
	<input id="id_address" name="address" type="hidden" />
	<input id="id_coord" name="coord" type="hidden" />  	
	<input type="submit" value="Add">
  </form>
{% endblock %}

{% block jqmscripts %}
<script>
$('#select-choice-1').change(function(){
    $('#id_name').val(  $('#select-choice-1').val() );
    $('#id_coord').val( $('#select-choice-1 :selected').data('coord'));
    $('#id_address').val( $('#select-choice-1 :selected').data('vicinity'));
});

{% if locate == 1%}
navigator.geolocation.getCurrentPosition(GetLocation);	
function GetLocation(location) {

		// alert("/?lat=" + location.coords.latitude + "&lon=" + location.coords.longitude);
		window.location = "{% url 'add_nearby' %}?locate=0&lat=" + location.coords.latitude + "&lon=" + location.coords.longitude;
}
{% endif %}
</script>
{% endblock %}
