<section id="add-page" data-role="page" class="django-jqm-page">
	{% include "jqm/header.html" %}

	<div class="content" data-role="content">
		<div class="ui-content" role="main">
			<h2>Add to the Kickstand database</h2>
			<div class="ui-field-contain">
  				<label for="refresh-1">Your location: {{ point }}</label>   
  				<a data-role="button" data-inline="true" data-icon="refresh" data-mini="true" href="{% url 'add_nearby' %}" >Refresh</a>
			</div>
			<div class="ui-field-contain">
  				<label for="select-choice-1" class="select">Select:</label>
  				<select name="select-choice-1" id="select-choice-1">
  				</select>
			</div>
  		</div>
  		<form action="{% url 'add_nearby' %}" method="post">{% csrf_token %}
			<input id="id_name" maxlength="128" name="name" type="hidden" value="{{nearby.0.name}}"/>
			<input id="id_address" name="address" type="hidden" value="{{nearby.0.vicinity}}"/>
			<input id="id_coord" name="coord" type="hidden" value="POINT({{nearby.0.geometry.location.lng}} {{nearby.0.geometry.location.lat}})"/>  	
			<input type="submit" value="Add">
  		</form>
	</div>    
	{% include "jqm/footer.html" %}    
</section><!-- /add-page -->
