{% extends "jqm/simple.html" %}
{% block title %}Kickstand{% endblock %}
{% block content %}
<p>Don't park your bike. Just order at the window from these places.</p>
{% if user.is_anonymous %}
    <a data-role="button" href="{% url 'login' %}">Sign In</a>
    <a data-role="button" href="{% url 'register' %}">Sign Up</a>
{% endif %}
<h2 id="list-linked">Browse</h2>
<ul data-role="listview">
{% for item in items %}
	<li><a href="{% url 'place-detail' item.id %}">{{ item.name}} ({{item.distance|floatformat:2}} mi.)</a></li>
{% endfor %}
</ul>

{% endblock %}
