{% extends "jqm/simple.html" %}

{% block title %}Kickstand{% endblock %}


{% block content %}
<h2>Don't park your bike or tie up your dog. Just order at the window from these places.</h2>
<div class="ui-field-contain">
  	<label for="refresh-1">Your location: {{ point }}</label>   
  	<a data-role="button" data-inline="true" data-icon="refresh" data-mini="true" href="{% url 'home' %}" >Refresh</a>
</div>
<ul data-role="listview" data-filter="true" data-filter-placeholder="Filter places..." data-inset="true">
{% for item in items %}
	<li><a href="{% url 'place-detail' item.id %}">{{ item.name}} ({{item.distance|floatformat:2}} mi. {{item.orientation}})</a></li>
{% endfor %}
</ul>
{% endblock %}

{% block jqmscripts %}
{% if locate == 1%}
<script>
navigator.geolocation.getCurrentPosition(GetLocation);
	
function GetLocation(location) {

		// alert("/?lat=" + location.coords.latitude + "&lon=" + location.coords.longitude);
		window.location = "/?locate=0&lat=" + location.coords.latitude + "&lon=" + location.coords.longitude;
}

</script>
{% endif %}
{% endblock %}

