<!DOCTYPE html> 
<html> 
<head> 
    <title>Kickstand</title> 
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" />
    <link rel="stylesheet" href="/static/css/jqm-django.css" />

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.js"></script>
    <!-- script src="/static/js/jqm-django.js"></script -->
</head> 
<body> 

{% include "jqm/page1.html" %}
{% include "jqm/add_page.html" %}
{% include "jqm/login.html" %}
<script>
function places(data){
 	var location = 'Your location: ' + data.point;
 	$("#location").html(location);
 	$("#place-content").empty();

 	for (var i=0; i < data.items.length; i++) {
  		var ditem = data.items[i];

        var item = '<div data-role="collapsible" data-collapsed="true"><h3>' +
        	ditem.name + '  (' + ditem.distance.toFixed(2) + ' mi. ' + ditem.orientation + ')' +
        	'</h3>' +
        	'<p>' + ditem.address + '</p></div>';

		// var item = '<li><a href="/place/' + ditem.pk + '">' + ditem.name + '  (' + ditem.distance.toFixed(2) + ' mi. ' + ditem.orientation + ')</a></li>';
   		$("#place-content").append(item);
 	}
 	$("#place-content").collapsibleset("refresh");
}

var user_location;
function location_params(){
	if (typeof user_location != 'undefined'){
		return '?lat=' + user_location.coords.latitude + '&lon=' + user_location.coords.longitude;
	}
	return ''
}

function GetLocation(location) {
	// alert("/?lat=" + location.coords.latitude + "&lon=" + location.coords.longitude);
	user_location = location;
	$(".add-button").show();
}

function browse_only(err){
	// hide add button
	$(".add-button").hide();
	// hide near button
	$(".near-button").hide();
	$.getJSON("{% url 'nearby' %}", places);	
}

function add_nearby(){
	navigator.geolocation.getCurrentPosition(GetLocation, browse_only);		
	$.getJSON("{% url 'add_nearby' %}" + location_params(), function(data){
		var mdata = data[0];
	 	var location = "Your location: " + mdata.point;
 		$("#add-page-location").html(location);
		$("#select-choice-1").empty();
 		for (var i=0; i < mdata.items.length; i++) {
  			var ditem = mdata.items[i];
  			var coord = 'POINT(' + ditem.geometry.location.lng + ' ' + ditem.geometry.location.lat + ')'; 
			var option =  '<option value="' + ditem.name + '" data-vicinity="' + ditem.vicinity + '" data-coord="' + coord + '">' + ditem.name + ': ' + ditem.vicinity + '</option>';
			$("#select-choice-1").append(option);
			if (i == 0){
			    $('#id_name').val( ditem.name );
    			$('#id_coord').val( coord );
    			$('#id_address').val( ditem.vicinity );
			}
		}
		$("select").selectmenu("refresh", true);
	});
}

function current_position(){
	navigator.geolocation.getCurrentPosition(GetLocation, browse_only);		
	$.getJSON("{% url 'nearby' %}" + location_params(), places);
}

$(document).on("pageshow", "#page1", current_position);

$(document).on("pageshow", "#add-page", add_nearby);

$(document).ready(function() {
 	// initialization code goes here

	$("#login-button").bind("click", function(event, ui){
		var payload = {};
		payload.username = $('#id_username').val();
		payload.password = $('#id_password').val();
		$.post("/accounts/login/", payload, function(data){
			$.mobile.navigate('#page1');
			$(".add-button").show();
		});
	});

	$( "#add-item-button" ).bind( "click", function(event, ui) {
		var payload = {};
		var csrfmiddlewaretoken = $("input[name*='csrf']").val()
		var name = $('#id_name').val();
		var address = $("#id_address").val();
		var coord = $("#id_coord").val();
		payload.csrfmiddlewaretoken = csrfmiddlewaretoken;
		payload.name = name;
		payload.address = address;
		payload.coord = coord;
		$.post("{% url 'add_nearby' %}", payload);		
	});
	
});

</script>

</body>
</html>
