{% extends 'jqm/v1_0_0b1.html' %}
{% load i18n %}

{% block jqmheader %}
    <div data-role="header" addBackBtn="{% block backbtn%}false{% endblock %}">
    	{% block jqmtitle %}
        <h1 class="display-title">
            {% block pagetitle %}{% block title %}{% trans 'Title' %}{% endblock %}{% endblock %}
        </h1>
        {% endblock %}

        {% block jqmheader-btns %}
        {# logout control for django.contrib.auth #}
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" rel="external" class="ui-btn-right logout-button" data-icon="minus" title="Log Out of Your Account for Security"><span class="logout-wide">Logout: </span>{{ user.username }}</a>
        {% endif %}
        {% endblock %}

        {% include "jqm/messages.html" %}
    </div>
{% endblock jqmheader %}

{% block jqmcontent %}
    <div data-role="content">	
        {% block content %}Content
        {% endblock content %}
    </div>
{% endblock jqmcontent %}

{% block jqmfooter %}
    <div data-role="footer" class="ui-bar">
        {% block navmenu %}
  <a data-role="button" href="{% url 'home' %}" >Browse</a>
  <a data-role="button" href="#" >Search</a>
  <a data-role="button" href="#" class="ui-icon-plus">Near Me</a>
  <a data-role="button" href="{% url 'add_nearby' %}?lat={{lat}}&lon={{lon}}" >Add</a>
        {% endblock %}
    </div>
{% endblock jqmfooter %}
